.bigred {
  font-size: 48px;
  color: red;
}

.controls {
  font-size: 24px;
  font-weight: bold;
}

@keyframes blink {  
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.blink {
  -webkit-animation: blink 0.5s linear infinite;
  -moz-animation: blink 0.5s linear infinite;
  animation: blink 0.5s linear infinite;
} 


body {
  background: black;
  color: white;
  font-family: monospace;
  padding: 50px;
}

h1 {
  text-align: center;
  margin-top: 200px;
}

p {
  text-align: center;
  font-size: large;
}


a {
  color: #0080FF;
}
a:visited {
  color: #FF00FF;
}
